#top-menu {
    border-bottom: 3px solid #c70039;
}
.row-content {
  height: 6em;
}

.fas {
    color: #c70039;
  }

  .dropdown-toggle:after {
    content: none 
   }
 .drop-list {
   right: 0; 
   left: auto;
   margin-top:9px;
   width:100%;
 }