<div class="row" id="top-menu">
  <div class="col-sm-12 container-fluid">
    <nav class="navbar navbar-expand-md navbar-light newbg">
        <a class="navbar-brand" href="#" style="color:rgb(96, 100, 100)">For-Admin</a> 
      <div class="collapse navbar-collapse" id="tuto-nav"> 
      </div>  
    </nav>
  </div>
</div>

<div class="container mt-2">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th> Product Id </th>
        <th> Product Name </th>
        <th> Product Catogary </th>
        <th> Product Price </th>
        <th> Product Tax </th>
        <th> Product Image </th>
        <th> Action  </th>
      </tr>
    </thead>
    <tbody>
      <tr>
          <td> #4251300 </td>
          <td> Ear Phone </td>
          <td> Mobile </td>
          <td> 699 </td>
          <td> 45  </td>
          <td> Image not Available   </td>
          <td><button> Edit</button> <button> Del</button> <button> Add</button> </td>
      </tr>
      <tr>
          <td> #4251300 </td>
          <td> Ear Phone </td>
          <td> Mobile </td>
          <td> 699 </td>
          <td> 45  </td>
          <td> Image not Available   </td>
          <td><button> Edit</button> <button> Del</button> <button (click) = "addPhone()"> Add</button> </td>
      </tr>
      <tr>

        
      </tr>
    </tbody>
  </table>

  <form [formGroup] = "myForm">
        <!-- value: {{myForm.value | json }} -->
        <hr>
        <div formArrayName = "phones">
            <div *ngFor = "let pn of phoneForms.controls; index as i" [formGroupName] = "i">
                <input placeholder="productid" formControlName = "productid">
                <input placeholder="productname" formControlName = "productname">
                <input placeholder="productcatogary" formControlName = "productcatogary">
                <input placeholder="productprice" formControlName = "productprice">
                <input placeholder="producttax" formControlName = "producttax">
                <input placeholder="productimage" formControlName = "productimage">
              
                <button (click) = "test()">edit</button>
                <button (click) = "deletePhone(i)">del</button>
                <button (click) = "addPhone()">add</button>
            </div>
        </div>
       
  </form>


</div>







  
  
 