<div class="container mt-2">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th> Product Id </th>
        <th> Product Name </th>
        <th> Product Catogary </th>
        <th> Product Price </th>
        <th> Product Tax </th>
        <th> Product Image </th>
        <th> Action  </th>
      </tr>
    </thead>
    <tbody>
      <tr>
          <td> #4251300 </td>
          <td> Ear Phone </td>
          <td> Mobile </td>
          <td> 699 </td>
          <td> 45  </td>
          <td> Image not Available   </td>
          <td><button> Edit</button> <button> Del</button> <button> Add</button> </td>
      </tr>
      <tr>
          <td> #4251300 </td>
          <td> Ear Phone </td>
          <td> Mobile </td>
          <td> 699 </td>
          <td> 45  </td>
          <td> Image not Available   </td>
          <td><button> Edit</button> <button> Del</button> <button (click) = "addPhone()"> Add</button> </td>
      </tr>
      <tr>
        <td> 
                <input style="width: 90px" placeholder="productid" fromControl = "productid">
           
        </td>
        <td>
                <input style="width: 90px"  placeholder="productname" fromControl = "productname">
           
       </td>
        <td> 
                <input style="width: 90px"  placeholder="productcatogary" fromControl = "productcatogary">
            
        </td>
        <td>
                <input style="width: 90px"  placeholder="productprice" fromControl = "productprice">
          
        </td>
        <td>
                <input style="width: 90px"  placeholder="producttax" fromControl = "producttax">
        </td>
        <td> Image not Available   </td>
        <td><button> Edit</button> <button> Del</button> <button (click) = "addPhone()"> Add</button> </td>
      </tr>
    </tbody>
  </table>


</div>







  
  
 