 <div class="container-fluid p-0">
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active" data-interval = "2000">
        <img src="../../../assets/images/test1.jpg" class="d-block w-100 h-30" height= "250" alt="...">
      </div>
      <div class="carousel-item" data-interval = "2000">
        <img src="../../../assets/images/test2.jpg" class="d-block w-100 h-30" height= "250"  alt="...">
      </div>
      <div class="carousel-item" data-interval = "2000">
        <img src="../../../assets/images/test3.jpg" class="d-block w-100 h-30" height= "250"  alt="...">
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>


  <div class="row" style="margin:10px">
    <div class="col">
      <div class="card">
        <img src="../../../assets/images/me.jpg" alt="" class="card-img-top">
        <div class="card-body">
          <button class="btn btn-primary"><span><i class="fas fa-shopping-cart pr-2"></i></span>Add to card</button>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
          <img src="../../../assets/images/me.jpg" alt="" class="card-img-top">
          <div class="card-body">
            <button class="btn btn-primary"><span><i class="fas fa-shopping-cart pr-2"></i></span>Add to card</button>
          </div>
        </div>
      </div>
    <div class="col">
        <div class="card">
          <img src="../../../assets/images/me.jpg" alt="" class="card-img-top">
          <div class="card-body">
            <button class="btn btn-primary"><span><i class="fas fa-shopping-cart pr-2"></i></span>Add to card</button>
          </div>
        </div>
      </div>
    <div class="col">
      <div class="card">
          <img src="../../../assets/images/me.jpg" alt="" class="card-img-top">
          <div class="card-body">
            <button class="btn btn-primary"><span><i class="fas fa-shopping-cart pr-2"></i></span>Add to card</button>
          </div>
      </div>
     </div>
  </div>