<div class="row" id="top-menu" *ngIf = "!authservice.currentUserValue()">
    <div class="col-sm-12 container-fluid">
      <nav class="navbar navbar-expand-md navbar-light newbg">
        <a class="navbar-brand" href="#">Edu-Revole</a> 
        <div class="collapse navbar-collapse" id="tuto-nav"> </div>
        <ul class="nav navbar-nav " style="cursor:pointer">
          <li class="nav-item" ><a routerLink ="/login" class="nav-link">LogIn</a></li>
          <li class="nav-item" ><a routerLink ="/register" class="nav-link" >Register</a></li>
        </ul>
      </nav>
    </div>
  </div>

<router-outlet></router-outlet>