
  <!-- start section portfolio -->
  <div id="portfolio" class="text-center paddsection">

    <div class="container">
      <div class="section-title text-center">
        <h2>My Portfolio</h2>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-12">

          <div class="portfolio-list">
              <p>My Portfolio about branding and photography</p>
          </div>

          <div class="portfolio-container">
            <div class="row">
            <div class="col-lg-4 col-md-6 portfolio-thumbnail all branding uikits webdesign">
              <a class="popup-img" href="../../../assets/./portfolio/./1.jpg">
                <img src="../../../assets/./portfolio/./1.jpg" alt="img">
              </a>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-thumbnail all mockups uikits photography">
              <a class="popup-img" href="../../../assets/./portfolio/./2.jpg">
                <img src="../../../assets/./portfolio/./2.jpg"  alt="img">
              </a>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-thumbnail all branding webdesig photographyn">
              <a class="popup-img" href="../../../assets/./portfolio/./3.jpg">
                <img src="../../../assets/./portfolio/./3.jpg" alt="img">
              </a>
            </div>


          </div>
          <div class="row">

            <div class="col-lg-4 col-md-6 portfolio-thumbnail all mockups webdesign photography">
              <a class="popup-img" href="../../../assets/./portfolio/./4.jpg">
                <img src="../../../assets/./portfolio/./4.jpg" alt="img">
              </a>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-thumbnail all branding uikits photography">
              <a class="popup-img" href="../../../assets/./portfolio/./5.jpg">
                <img src="../../../assets/./portfolio/./5.jpg" alt="img">
              </a>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-thumbnail all mockups uikits webdesign">
              <a class="popup-img" href="../../../assets/./portfolio/./6.jpg">
                <img src="../../../assets/./portfolio/./6.jpg" alt="img">
              </a>
            </div>

            
          </div>

          </div>
        </div>
      </div>
    </div>

  </div>
  <!-- End section portfolio -->